.rtl,
.rtl * {
    direction: rtl !important;
    text-align: right !important;
}

button:focus {
    outline: none;
}

form.floating-label {
    .ant-form-item-control {
        position: relative;
        padding-top: 20px;
    }

    .ant-form-item-label {
        top: 0;
        position: absolute;
        transform: translateY(-20%);

        label {
            color: rgb(136, 136, 136);
        }
    }
}

.title-bar {
    display: flex;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 1);

    >* {
        margin: 0 10px;
    }
}

.custom-table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 1px 0 #252525;

    th,
    td {
        text-align: center;
        padding: 15px 10px !important;
    }

    tbody tr {
        height: 40px;
        font-size: 13px;
        color: #808080;
        line-height: 1.2;
        font-weight: unset;

        &:not(:last-child) {
            border-bottom: 1px solid #eee;
        }
    }

    thead tr {
        height: 50px;
        background: #36304a;
    }

    .btn {
        cursor: pointer;
        font-size: 13px;
    }


    thead th {
        font-size: 15px;
        color: #fff;
        line-height: 1.2;
        font-weight: unset;
    }
}

.btn-warning {
    color: #ffffff;
    background-color: #ea7224;
    border-color: #ea7224;

    &:hover, &:active, &:focus {
        color: #ffffff !important;
        background-color: #cc6119 !important;
        border-color: #ea7224 !important;
    }
}

.loading {
    position: relative;

    &::before {
        content: ' ';
        top: 0;
        left: 0;
        opacity: 1;
        width: 100%;
        height: 100%;
        z-index: 1000;
        position: absolute;
        animation: fade-in 250ms ease;
        transition: opacity 300ms ease;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &::after {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        z-index: 1000;
        border-width: 4px;
        border-radius: 50%;
        border-style: solid;
        transform: translate(-50%, -50%);
        border-color: #fff #fff #fff transparent;
        animation: layout-loading-spinner 1s linear infinite;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes layout-loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}