.page-instances {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;

    table {
        white-space: nowrap;
    }

    >.wrapper {
        width: 80vw !important;
        min-height: calc(100vh - 70px);
        overflow-y: visible;
        overflow-x: auto;

        @media screen and (max-width: 1300px) {
            width: 90vw !important;
        }

        @media screen and (max-width: 998px) {
            width: 100vw !important;
            padding: 0 2vw;
        }
    }

    .ports {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .service {
            width: 100%;
            display: flex;
            padding: 0 5px;
            flex-direction: column;

            &:not(:last-child) {
                border-right: 1px solid #ccc;
            }

            .port {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .name,
                .value {
                    text-align: left;
                }

                @media screen and (max-width: 1000px) {
                    .name {
                        display: none;
                    }
                }
            }
        }
    }

    .commands {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1600px) {
            font-size: 12px;
        }

        >button {
            border: none;
            outline: none;
            display: flex;
            color: #2080b8;
            align-items: center;
            background-color: transparent;
            animation: fade-in 1s ease;

            >* {
                margin: 0 5px;
            }

            .spinner-border {
                width: 16px !important;
                height: 16px !important;
                border-width: 2px;
            }
        }
    }

    .services {
        display: flex;
        align-items: center;
        justify-content: center;

        >span {
            width: 12px;
            height: 12px;
            margin: 0 3px;
            border-radius: 50%;
            background-color: #36304a;
            transition: all 1s ease;
            animation: fade-in 1s ease;
            border: 1px solid rgba(0, 0, 0, 0.122);

            &.shutdown {
                background-color: #df6057;
            }

            &.service-running {
                background-color: #faff00;
            }

            &.container-running {
                background-color: #faff00;
            }

            &.service-running.container-running {
                background-color: #1cac64;
            }

        }
    }

    .actions {
        button {
            margin: 0 5px;
        }
    }
}

.change-template-modal {
    .ant-cascader-picker {
        width: 100%;
    }
}