.comp-loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    opacity: 1;
    position: absolute;
    align-items: center;
    justify-content: center;
    animation: fadein 300ms ease;
    background-color: rgba(255, 255, 255, 0.493);

    .loader {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border: 12px solid #f3f3f3;
        border-top: 12px solid #db3f34;
        animation: spin 750ms linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}