.page-images {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;

    >.wrapper {
        width: 80vw !important;
    }

    .actions {
        >* {
            margin: 0 4px;
        }
    }
}