.layout-panel {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;

    >nav {
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 0 10px 0 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.929);

        .navbar-brand {
            padding: 10px 20px;
            background-color: rgb(240, 240, 240);
        }

        .navbar-nav {
            .nav-item {
                padding: 0 10px;
                position: relative;

                &:not(:last-child)::after {
                    content: ' ';
                    top: 50%;
                    right: 0;
                    height: 30px;
                    position: absolute;
                    transform: translateY(-50%);
                    border-right: 1px solid rgb(71, 71, 71);

                }
            }
        }

        a {
            >i:first-child {
                padding-right: 10px;
            }
            >i:last-child {
                padding-left: 10px;
            }
        }
    }

    >main {
        flex: 1;
        display: flex;
        overflow: auto;
        padding-top: 70px;
        flex-direction: column;
        background: linear-gradient(45deg, #4158d0, #c850c0);

        >* {
            flex: 1;
        }

        &::-webkit-scrollbar {
            width: 8px;
          }
    }

    >footer {}
}